* 
  body{
      background: rgb(207, 255, 249);
      max-height: 100vh;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      
  }

.profile-img.img{
  height: 100vh;
  max-height: 100vh;
  
}
.top{
    float: right;
    padding-right: 30px;
    width: 40%;

}
h1{
    color: rgb(21, 93, 226);
    padding:1em;
}

a{
    color: rgb(83, 155, 11);
    padding: 1em;
}
a:hover{
    color: rgb(34, 51, 0);
}
